{"Version":"2012-10-17","Statement":[
 {"Effect":"Allow","Action":["s3:GetObject"],"Resource":${jsonencode(concat([for year in ["1986","1987","1988","1989","199?","200?","201?","2020","2021","2022","2023","2024","2025"] : "arn:aws:s3:::b3-lakehouse-aws-bronze-${account_id}/bronze/history/year=${year}/*"], ["arn:aws:s3:::b3-lakehouse-aws-silver-${account_id}/scripts/history-*"]))}},
 {"Effect":"Allow","Action":["s3:ListBucket","s3:GetBucketLocation"],"Resource":["arn:aws:s3:::b3-lakehouse-aws-bronze-${account_id}","arn:aws:s3:::b3-lakehouse-aws-silver-${account_id}"]},
 {"Effect":"Allow","Action":["s3:GetObject","s3:PutObject","s3:DeleteObject","s3:AbortMultipartUpload","s3:ListMultipartUploadParts"],"Resource":["arn:aws:s3:::b3-lakehouse-aws-silver-${account_id}/silver/*","arn:aws:s3:::b3-lakehouse-aws-silver-${account_id}/temp/history/*","arn:aws:s3:::b3-lakehouse-aws-silver-${account_id}/history-logs/*"]},
 {"Effect":"Allow","Action":["glue:GetDatabase","glue:GetTable","glue:UpdateTable"],"Resource":["arn:aws:glue:${region}:${account_id}:catalog","arn:aws:glue:${region}:${account_id}:database/b3_lakehouse_silver","arn:aws:glue:${region}:${account_id}:table/b3_lakehouse_silver/b3_daily","arn:aws:glue:${region}:${account_id}:table/b3_lakehouse_silver/bcb_daily"]},
 {"Effect":"Allow","Action":"dynamodb:GetItem","Resource":"arn:aws:dynamodb:${region}:${account_id}:table/b3-lakehouse-aws-bronze-runs","Condition":{"ForAllValues:StringLike":{"dynamodb:LeadingKeys":${jsonencode(concat([for year in ["1986","1987","1988","1989","199?","200?","201?","2020","2021","2022","2023","2024","2025"] : "bronze#year=${year}"], [for year in ["1986","1987","1988","1989","199?","200?","201?","2020","2021","2022","2023","2024","2025"] : "history#${year}"]))}}}},
 {"Effect":"Allow","Action":"dynamodb:UpdateItem","Resource":"arn:aws:dynamodb:${region}:${account_id}:table/b3-lakehouse-aws-bronze-runs","Condition":{"ForAllValues:StringLike":{"dynamodb:LeadingKeys":${jsonencode([for year in ["1986","1987","1988","1989","199?","200?","201?","2020","2021","2022","2023","2024","2025"] : "history#${year}"])}}}},
 {"Effect":"Allow","Action":["logs:CreateLogGroup","logs:CreateLogStream","logs:PutLogEvents"],"Resource":["arn:aws:logs:${region}:${account_id}:log-group:/b3-lakehouse-aws/history-2025/error:*","arn:aws:logs:${region}:${account_id}:log-group:/b3-lakehouse-aws/history-2025/output:*"]}
]}
